{% extends "base.html" %}
{% block title %}Admin Panel - Users{% endblock %}
{% block content %}

<!DOCTYPE html>
<html>
  <head>
    <title>Admin Panel - Users</title>
  </head>
  <body>
    <h1>Users</h1>
    <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Email</th>
            <th>First Name</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.first_name }}</td>
            <td>
              <form action="{{ url_for('auth.manage_users') }}" method="post" style="display: inline-block;">
                <input type="hidden" name="user_id" value="{{ user.id }}">
                <button type="submit" name="action" value="delete" onclick="return confirm('Are you sure you want to delete user {{ user.id }}?')">Delete</button>
              </form>
              <form action="{{ url_for('auth.manage_users') }}" method="post" id="changePasswordForm{{ user.id }}" style="display: inline-block;">
                <input type="hidden" name="user_id" value="{{ user.id }}">
                <input type="hidden" name="user_password">
                <input type="hidden" name="action" value="change_password">
                <button type="submit" onclick="return changePassword('{{ user.id }}')">Change Password</button>
              </form>                        
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </body>
</html>

{% endblock %}
